 <md-content layout-padding>
    <form name="projectForm" ng-submit="submit()">

      <md-input-container class="md-block">
        <label>Nombre</label>
        <input md-maxlength="30" required md-no-asterisk name="nombre" ng-model="nombre">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">Llena este campo</div>
          <div ng-message="md-maxlength">La descripci&oacute;n tiene que ser menor que 30 caracteres.</div>
        </div>
      </md-input-container>

      <div>
        <md-button type="submit">Submit</md-button>
        <md-button class="md-primary" ng-href="#!/">Listado</md-button>
       </div>
    </form>
  </md-content>