<md-list flex> <md-list-item class="md-3-line"
	ng-repeat="pizza in pizzas" ng-href="#!/detalle/{{pizza.id}}"> <img
	ng-src="img/pizza.jpg" class="md-avatar" alt="{{pizza.nombre}}" />
<div class="md-list-item-text" layout="column">
	<h3>{{ pizza.nombre }}</h3>
	
</div>
</md-list-item> </md-list>