 <md-content layout-padding>
 	<h3>user: test, password:pwd</h3>
    <form name="projectForm" ng-submit="submit()">

      <md-input-container class="md-block">
        <label>Usuario</label>
        <input md-maxlength="30" required md-no-asterisk name="nombre" ng-model="nombre">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">Llena este campo</div>
          <div ng-message="md-maxlength">La descripci&oacute;n tiene que ser menor que 30 caracteres.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Contraseña</label>
        <input type="password" md-maxlength="30" required md-no-asterisk name="pwd" ng-model="pwd">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">Llena este campo</div>
          <div ng-message="md-maxlength">La contraseña tiene que ser menor que 30 caracteres.</div>
        </div>
      </md-input-container>

      <div>
        <md-button type="submit">Entrar</md-button>
      </div>
    </form>
  </md-content>