<html>
<head>
<title>Pizzas</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic">
<link rel="stylesheet"
	href="bower_components/angular-material/angular-material.css"
	media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="css/app.css" media="screen"
	title="no title" charset="utf-8">
<script charset="utf-8" src="bower_components/angular/angular.js"></script>
<script charset="utf-8"
	src="bower_components/angular-animate/angular-animate.js"></script>
<script charset="utf-8"
	src="bower_components/angular-aria/angular-aria.js"></script>
<script charset="utf-8"
	src="bower_components/angular-material/angular-material.js"></script>
<script charset="utf-8"
	src="bower_components/angular-route/angular-route.min.js"></script>
<script charset="utf-8" src="scripts/main.js"></script>
</head>
<body ng-app="app">

	<div ng-controller="appCtrl" layout="column" style="height: 100%;"
		ng-cloak>
		<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Settings"
				ng-disabled="false" ng-click="toggleLeft()"> <md-icon
				md-svg-icon="img/menu.svg"></md-icon> </md-button>

			<h2 flex md-truncate>Pizzas</h2>


		</div>
		</md-toolbar>
		<section layout="row" flex>

			<md-sidenav class="md-sidenav-left" md-component-id="left"
				md-disable-backdrop md-whiteframe="4"
				md-is-locked-open="$mdMedia('gt-md')"> <md-content
				layout-margin> 
				<ul>
				<li><md-button class="md-primary" ng-href="#!/">Listado</md-button></li>
				<li><md-button class="md-primary" ng-href="#!/add">Nueva</md-button></li>
				<li><md-button ng-show="!loged()" class="md-primary" ng-href="#!/login">Login</md-button></li>
				<li><md-button ng-show="loged()" ng-click="cerrarSesion()"
				class="md-accent"> Cerrar sesi&oacute;n</md-button> </li>
				</ul>
				</md-content> </md-sidenav>
				

			<md-content flex layout-padding ng-click="cerrarToggle()">

			<div layout="column" layout-align="top center" ng-view>
				


			</div>

			</md-content>

		</section>

	</div>


</body>
</html>